**/.env
**/.env.backup
**/.env.production
**/.vscode
**/docker-compose.rendered.yml
/laravel/.phpunit.cache
/laravel/bootstrap/ssr
/laravel/node_modules
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/auth.json
/laravel/npm-debug.log
/laravel/yarn-error.log
/laravel/.fleet
/laravel/.idea
/mqtt_bridge/.vscode-server
/mqtt_bridge/.dotnet
/mqtt_bridge/.bash_history
/mqtt_bridge/.local
/mqtt_bridge/.devcontainer
/mqtt_bridge/.cache
/mqtt_bridge/app/__pycache__
