**/.env
**/.env.backup
**/.env.production
**/.vscode
**/docker-compose.rendered.yml
laravel/.phpunit.cache
laravel/bootstrap/ssr
laravel/node_modules
laravel/public/build
laravel/public/hot
laravel/public/storage
laravel/storage/*.key

#Keep Sail to be installable when cloning
laravel/vendor/*
!laravel/vendor/laravel
laravel/vendor/laravel/*
!laravel/vendor/laravel/sail

laravel/.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
laravel/auth.json
laravel/npm-debug.log
laravel/yarn-error.log
laravel/.fleet
laravel/.idea

python/*/**/__pycache__
python/*/src/venv
python/*/src/pyvenv.cfg
mosquitto/mosquitto.db
redis
